/*baisic*/
html{
  -webkit-locale: "en";
  direction: ltr;
  unicode-bidi: isolate;
  min-height: 100%;
}
html, body{
  min-height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}
body{
  font: 400 16px/1.2 'Inter', sans-serif;
  color: #fff;
  background: #060C11;
  min-width: 310px; 
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  opacity: 1;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

/*clearfix*/
.clearfix{
  zoom: 1;
  &:before,
  &:after{
    content: '';
    display: table;
  }
  &:after{clear: both;}
}

/*visually hidden*/
.visually-hidden{
  position: absolute;
  visibility: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*box-sizing*/
*, *:before, *:after, input[type="search"]{
  box-sizing: border-box;
}

/*buttons*/
.btn{  
  &--green{
    @include btn-reset;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 16px;
    line-height: 24px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: .01em;
    color: #060C11;
    background-color: #0EF2F2;
    overflow: hidden;
    border-radius: 28px;
    width: fit-content;
    &::before{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(90deg, #0EF2F2 0%, #A4FFC8 100%);
      transition: opacity .25s;
      opacity: 1;
    }
    i, span{
      position: relative;
      z-index: 2;
    }
    i{
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
    &:hover{
      &::before{opacity: 0;}
    }
    &:active{
      &::before{opacity: 0;}
      background-color: #0DD1D1;
    }
  }
  &--secondary{
    @include btn-reset;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: .01em;
    color: #fff;
    border: 1px solid #fff;
    padding: 16px 15px;
    border-radius: 28px;
    width: fit-content;
    &:hover{
      border-color: #0EF2F2;
      background-color: rgba(14, 242, 242, .2);
      color: #0EF2F2;
    }
    &:active{
      border-color: #0DD1D1;
      background: rgba(14, 242, 242, .1);
      color: #0DD1D1;
    }
  }
}
/*layout*/
.wrapper{
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  & > *{width: 100%;}
}
.main{
  flex-grow: 1;
  position: relative;
}
.page{
  position: relative;
  margin: 56px 0 128px;
  @media only screen and (max-width : 767px){
    margin: 24px 0 48px;
  }  
}
.container{
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1312px;
  width: 100%;
  @media only screen and (max-width : 767px){
    padding: 0 16px;
  }
}

.animate-container{
  position: relative;
  .animate{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
  }
}

/*typographyc*/
ol,ul,li,h1,h2,h3,h4,h5,h6,p,q,figure,figcaption,blockquote,cite,fieldset,hr{    
  margin:0;
  padding: 0;    
  border: none;
}
ul li, ol li{list-style: none;}
a{
  text-decoration: none;
  outline: none;
  transition: .25s ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:-moz-any-link:focus ,
  &:-moz-focusring,
  &::-moz-focus-inner,
  &::-moz-focus-outer{
    outline: 0!important;
    outline: none;
  }
  &:active {outline: none;}
  &[href^="tel:"],
  &[href^="mailto:"]{white-space: nowrap;}
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}